body {
    padding: 0;
    margin: 0;
    background-color: #FFCCCB;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
}

.btn {
    width: auto;
    height: auto;
    border: 2px black;
    corner-radius: 0px;
    color: red;
}

.text {
    font-family: 'Helvetica', 'Arial', sans-serif;
}
