body {
    padding: 0;
    margin: 0;
    background-color: #FFCCCB;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10vh;
    height: 10vh;
    cursor: pointer;
}

.btn {
    border: none;
    border-radius: 5px;
    text-align: center;
    color: red;
    font-size: 30px;
    width: 45vh;
    height: 30vh;
    padding: none;
    cursor: pointer;
    background-color: transparent;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./introduction.jpeg");
    background-size: cover;
}

.btn:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./introduction.jpeg");
    background-size: cover;
}

.btn-group {
    width: 95vh;
    height: 80vh;
    padding: 10px;
    margin: auto;
}

.btn-row {
    width: 100%;
    padding: 5px;
}

.btn-img {
    width: 100%;
    padding: none;
    border-radius: 5px;
}

.text {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.credits {
    font-size: 1.75vw;
    position: absolute;
    top: -10px;
    left: 10px;
}