body {
    padding: 0;
    margin: 0;
    background-color: #FFCCCB;
}

.logo {
    position: absolute;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
}

.text {
    font-family: 'Helvetica', 'Arial', sans-serif;
}
