body {
    padding: 0;
    margin: 0;
    background-color: #FFCCCB;
    background: linear-gradient(180deg, #ffcccb, #ff6e6e 100%);
}

.logo {
    display: block;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 10vh;
    height: 10vh;
    cursor: pointer;
}

.sT {
    font-size: 25px;
}

h6 {
    font-size: 15px;
}

.text {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.title {
    font-style: bold;
    text-align: center;
}

.img {
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    border: none;
}
.img:hover {
    border: red 2px solid;
}

#rcl1 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./rcl1.jpg");
    background-size: cover;
}
#rcl1:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./rcl1.jpg");
    background-size: cover;
}

#rcl2 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./rcl2.png");
    background-size: cover;
}
#rcl2:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./rcl2.png");
    background-size: cover;
}

#rcl3 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./rcl3.png");
    background-size: cover;
}
#rcl3:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./rcl3.png");
    background-size: cover;
}

.relInfo {
    padding-left: 15px;
    padding-top: 15px;
}

.relCultLand {
    padding-left: 15px;
    padding-top: 50px;
}

.relCultLandBtns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
}

.rcl {
    width: 450px;
    height: 300px;
    margin-right: 10px;
}
