body {
    padding: 0;
    margin: 0;
    background-color: #FFCCCB;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10vh;
    height: 10vh;
    cursor: pointer;
}

.text {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.title {
    font-style: bold;
    text-align: center;
}

.maps {
    padding-left: 5px;
}

.credits {
    font-size: 1.75vh;
    position: absolute;
    top: -10px;
    left: 10px;
}