body {
    padding: 0;
    margin: 0;
    background-color: #FFCCCB;
    background: linear-gradient(180deg, #ffcccb, #ff6e6e 100%);
}

.logo {
    display: block;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 10vh;
    height: 10vh;
    cursor: pointer;
}

h6 {
    font-size: 12px;
}

.text {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.title {
    font-style: bold;
    text-align: center;
}

.img {
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    border: none;
}
.img:hover {
    border: red 2px solid;
}

#lcl1 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./lcl1.webp");
    background-size: cover;
}
#lcl1:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./lcl1.webp");
    background-size: cover;
}

#lcl2 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./lcl2.jpg");
    background-size: cover;
}
#lcl2:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./lcl2.jpg");
    background-size: cover;
}

#lcl3 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./lcl3.png");
    background-size: cover;
}
#lcl3:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./lcl3.png");
    background-size: cover;
}

.langInfo {
    padding-left: 15px;
    padding-top: 15px;
}

.langCultLand {
    padding-left: 15px;
    padding-top: 50px;
}

.langCultLandBtns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
}

.lcl {
    width: 450px;
    height: 300px;
    margin-right: 10px;
}
