body {
    padding: 0;
    margin: 0;
    background-color: #FFCCCB;
    background: linear-gradient(180deg, #ffcccb, #ff6e6e 100%);
}

.logo {
    display: block;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 10vh;
    height: 10vh;
    cursor: pointer;
}

.sT {
    font-size: 25px;
}

h6 {
    font-size: 15px;
}

.text {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.title {
    font-style: bold;
    text-align: center;
}

.img {
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    border: none;
}
.img:hover {
    border: red 2px solid;
}

#streetMap {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./streetMap.png");
    background-size: cover;
}
#streetMap:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./streetMap.png");
    background-size: cover;
}

#satMap {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./satMap.png");
    background-size: cover;
}
#satMap:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./satMap.png");
    background-size: cover;
}

#raceMap {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./raceMap.png");
    background-size: cover;
}
#raceMap:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./raceMap.png");
    background-size: cover;
}

#lc1 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./lc1.webp");
    background-size: cover;
}
#lc1:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./lc1.webp");
    background-size: cover;
}

#lc2 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./lc2.jpg");
    background-size: cover;
}
#lc2:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./lc2.jpg");
    background-size: cover;
}

#pc1 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./pc1.jpg");
    background-size: cover;
}
#pc1:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./pc1.jpg");
    background-size: cover;
}

#pc2 {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./pc2.jpg");
    background-size: cover;
}
#pc2:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./pc2.jpg");
    background-size: cover;
}

.maps, .cultureImgs {
    padding-left: 15px;
}
.mapsBtns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
}
.cultureImgBtns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.diffusion {
    padding-left: 15px;
    padding-top: 50px;
    text-align: left;
}

.maps {
    padding-top: 15px;
}

.cultureImgs {
    padding-top: 50px;
}

.map {
    width: 300px;
    height: 300px;
    margin-right: 10px;
}

.cI {
    width: 450px;
    height: 300px;
    margin-right: 10px;
    margin-top: 10px;
}
