body {
    padding: 0;
    margin: 0;
    background-color: #FFCCCB;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10vh;
    height: 10vh;
    cursor: pointer;
}

.text {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.title {
    font-style: bold;
    text-align: center;
}

.img {
    border-radius: 5px;
}

.maps {
    padding-left: 5px;
}

.map {
    width: 300px;
    height: 300px;
}